<div class="container">
  <h1>data binding</h1>
  <h2>string interpolation</h2>
  <p>What i'm I doing? {{title}}</p>

  <h2>property binding</h2>
  <p>How is it going</p>
  <button [disabled]="isdisabled">so far so good</button>


  <h1>Event binding</h1>
  <input type="text" (input)="PassValueToComponent($event)">
   
  <h2>Two way binding</h2>
  <input type="text" [value]="defaultVal" (input)="PassValue($event)">
  

</div>

<router-outlet></router-outlet>
<!-- 
<div class="container"> DIRECTIVES
  <h1>Subject diectives</h1>
  <button onclick="approved(true)">Approved</button>
  <button onclick="approved(false)">denied</button>
  <div>
    <p *ngIf="isApproved">Application has been approved</p>
    <p *ngIf="!isApproved">Application has not been approved</p>
  </div>
</div> -->
