<div>
    <h1>change the attributes of the DOM</h1>
    <div>
        <P [ngClass]="{

         red:highlightcolor==='red',
        'green-color':highlightcolor==='green',
        'blue':highlightcolor==='blue' }">

        click button to highlight</P>
    </div>
<div>
    <button (click)="highlight('red')">no</button>
    <button (click)="highlight('green')">yes</button>
    <button (click)="highlight('blue')">maybe</button>
</div>

<div>
    <p [ngStyle]="{
        
        color:isStyleApplied === true? 'white' : 'black',
        backgroundColor:isStyleApplied === true? 'green':'white'

  
    }">click to toggle</p>
    <button (click)="togglestyle()">
        Toggle
    </button>
</div>




<div>
    <p>communication between components</p>
<input type="text" [(ngModel)]="usinginputinparent">

</div>
</div>
<app-second-component [usinginput]="usinginputinparent" (sendMessageEmmiter)="receivemessage($event)" ></app-second-component>



